<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>Welcome To Thymeleaf</title>
		
		<!-- Inner css -->
		<!-- <style type="text/css">
			.mydesign{
				color: red;
				background: yellow;
			}
		</style> -->
		
		<!-- Create css file outside and link the css file -->
		<link rel="stylesheet" th:href="@{/mycss/design.css}"></link>
		
		<!-- Inner script -->
		<!-- <script type="text/javascript">
			alert("WELCOME TO PAGE")
		</script> -->
		
		<!-- Create script file outside and link here -->
		<script type="text/javascript" th:src="@{/myjs/setup.js}"></script>
	</head>
	<body>
		<!-- Adding Image -->
		<img th:src="@{/images/doctor.png}" width="100" height="100">
	
		<h2>WELCOME TO SPRING BOOT + THYMELEAF EXAMPLE</h2>
		<h2>Product Data Details</h2>
		
		<p class="mydesign">SAMPLE CSS</p>
		
		<!-- To print and read the data -->
		<p>This is the product code <span th:text="${prodCode}"></span></p>
		<p>This is the product code [[${prodCode}]]</p>
	</body>
</html>